@import "../../../styles/variable.scss";

.title-workit {
  display: flex;
  align-items: center;

  .icon-hexagone {
    display: inline-block;
    position: relative;

    .icon-custom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img[src*="add-orange"],
    img[src*="new"],
    img[src*="loupe-orange"],
    img[src*="calendar-orange2"],
    img[src*="workout-run"],
    img[src*="star"] {
      padding-bottom: 6px;
    }

    img[src*="calendar-orange2"] {
      width: 25px;
    }

    img[src*="star"] {
      width: 28px;
    }
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    border-bottom: 4px solid $theme-color;
  }
}
