@import "../../../../styles/variable.scss";

.workoutCard {
  margin: 20px 0;

  .workout-characteristic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;

    > div {
      background-color: $theme-color;
      border-radius: 8px;
      padding: 6px;
      margin-right: 10px;
      margin-bottom: 8px;
      color: #fff;
    }
  }

  .workout-informations {
    margin: 10px 0 20px;
  }

  .workout-exercices {
    h3 {
      background-color: $theme-color;
      width: fit-content;
      padding: 8px 14px;
      color: #fff;
    }

    h4 {
      font-size: 21px;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;

        > div {
          display: flex;
          align-items: center;

          img {
            &.exercise-image {
              width: 125px;
              height: 125px;
              background-color: white;
              -webkit-box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 50%);
              box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 50%);
              border-radius: 12px;
              margin-right: 17px;
            }

            &.icon-rest {
              width: 30px;
              margin-right: 7px;
            }
          }

          span {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
