@import "../../../../../styles/variable.scss";

.workoutForm {
  form {
    padding-top: 30px;

    .label-textarea {
      color: #ffffffd4;
    }

    textarea {
      background-color: $black-theme;
      border-radius: 8px;
      width: 100%;
      height: 100px;
      padding: 10px;
      color: #ffffffd4;
    }

    .select-exercise {
      margin: 0 12px 20px;
      position: relative;
      background-color: #fff;
      border-radius: 50px;

      select {
        padding: 17px 20px;
        border-radius: 50px;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        position: relative;
      }

      img {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        width: 11px;
      }

      select,
      option {
        -webkit-appearance: none;
      }
    }

    .button-container {
      margin-bottom: 20px;
    }

    .button-find-exercises,
    .button-type-exercises,
    .button-rest-container {
      display: flex;
      justify-content: center;

      button {
        border: 1px solid $background-color;
        padding: 10px;
        border-radius: 9px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        font-weight: 700;

        &.button-update {
          color: $black-theme;

          &:hover {
            border: 1px solid $theme-color;
            color: $theme-color;
          }
        }

        &.button-search,
        &.button-list,
        &.button-type-exercise,
        &.button-type-stretching {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $black-theme;
          color: #fff;
          margin: 3px;
          width: 100%;

          span {
            pointer-events: none;

            &:first-child {
              margin-bottom: 5px;
            }

            &:last-child {
              font-size: 14px;
              font-weight: 300;
            }
          }

          &.active {
            background-color: $theme-color;
            border-color: $theme-color;
          }
        }
      }
    }

    .button-rest-container {
      margin: 25px 0 20px;

      button {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        background-color: #fff;

        img {
          width: 35px;
          margin-right: 10px;
        }
      }
    }

    .listExercices {
      .exercise-container {
        border: 1px solid $theme-color;
        margin: 10px 0;
        padding: 0 10px;
        border-radius: 10px;
        position: relative;
        height: auto;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .exercises-minimum {
      margin-top: 18px;
      color: #f55f0b;
      font-size: 15px;
    }

    .drag-message {
      margin: 15px 5px;

      img {
        margin-left: 5px;
        width: 22px;
        height: 22px;
      }
    }
  }
}
