@import "../../../styles/variable.scss";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-theme;
  color: #fff;
  min-height: 65px;
  padding: 0 65px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 7px 5px rgba(247, 247, 247, 0.1);
  box-shadow: 0px 0px 7px 5px rgba(247, 247, 247, 0.1);

  > div {
    &.header-icon {
      position: absolute;
      top: 50%;
      left: 11%;
      transform: translate(-50%, -50%);
    }

    h2 {
      font-size: 15px;
    }

    a {
      img {
        width: 42px;
        height: 42px;
        padding-top: 5px;
      }
    }
  }
}
